body {
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
  }
  
  input[type="checkbox"] {
    display: inline;
    width: auto;
  }
  
  .done {
    text-decoration: line-through;
  }

  button {
      padding: 5px;
      margin: 10px;
  }