.App {
    width: 350px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
    text-align: left;
    background: lightgrey;
  }
  
  h1 {
      text-align: center;
      font-size: 40px;
  }
  input[type="checkbox"] {
    display: inline-flex;
    width: 20px;
    height: 20px;
  }
  #newTodo {
      margin: 10px 20px;
      padding: 5px 25px;
  }
  
  button {
        padding: 5px;
        margin: 10px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        transition: 1s cubic-bezier(0.2, 0.2, 0.2, 1);
  }

  button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px); 
  }

  ul {
    list-style: none;
    font-size: 20px;
    /* padding: 0; */
  }
  
  ul>li:hover {
    background-color: #F5F5F5;
  }

  
  
  .done {
    color: red;
    text-decoration: line-through;
  }
  
  .todos {
    color: #61DAFB;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }

  img {
      display: flex;
      margin: 10px 120px; 
  }